.logo {
  margin-right: 97px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  text-decoration: none;
}

.header__logo--accent {
  color: $primary-text-color;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__logo--accent {
  color: $light-text-color;
}
