$primary-bgc: #ffffff;
$secondary-bgc: #2f303a;
$third-bgc: #f5f4fa;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$light-text-color: #ffffff;
$accent-color: #2196f3;
$main-btn-color: #f5f4fa;
$hover-btn-color: #188ce8;
$border-color: #ececec;
$color-social-links: #afb1b8;
$main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
